<h1>All students</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User name&nbsp;&nbsp;&nbsp;</th>
      <th>About</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.user_name, user_path(user) %></td>
        <td><%= user.about %></td>
      </tr>

  </tbody>

<% end %>

</table>
