<% if @user.errors.any? %>

<div id="error_explanation">

  <div class="alert alert-danger">
      Hey newb, this form has <%= pluralize(@user.errors.count, "error") %>!
  </div>

  <ul>
    <% @user.errors.full_messages.each do |dumbass| %>
      <li><%= dumbass %>
    <% end %>
  </ul>

</div>

<% end %>
