<h1>All available courses</h1>

<table class="table table-striped">

  <thead>
    <tr>
      <th>Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Day course or night course?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, course_path(course) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <% if course.day_or_night? %>
        <td><%= "night" %></td>
        <% else %>
        <td><%= "day" %></td>
        <% end %>
      </tr>
  </tbody>

<% end %>

</table>
