<h1><%= @course.title %></h1>

<br>




<table class="table table-striped">
  <thead>
    <tr>
      <th>Is this a night class?</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>



    <tr>
        <td><%= @course.day_or_night %></td>
      </tr>

</tbody>
