<h1><%= @course.title %></h1>

<br>

<table class="table table-striped">

  <thead>
    <tr>
      <th>Day course or night course?</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% if @course.day_or_night? %>
      <td><%= "night" %></td>
      <% else %>
      <td><%= "day" %></td>
      <% end %>
    </tr>
  </tbody>

</table>

<br>
<%= link_to "Edit course details", edit_course_path(@course) %>
